// Fabric

@import "./settings";
@import "./tools/tools";
@import "./tools/lookup";

.u-fabric {
  padding: $global-spacing-unit-small;

  &--interactive {
    cursor: pointer;
    transition: $global-transition;
  }
}

// Class generator
@each $key, $val in $fabrics {
  .u-fabric--#{$key} {
    background-color: #{$val};
    color: fabric-choose-contrast-color($val);

    &.u-fabric--interactive:hover {
      background-color: darken($val, 10%);
    }
  }
}
